.cardItem {
    background-color: #f1f1f1;
}

.status {
    background-color: #F0E68C;
    border-top-left-radius: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 4px;
}


@media only screen and (max-width: 768px) {
    .doctorName {
        font-size:14px;
    }
    .doctorTime {
        font-size:12px;
    }
    .doctorStatus {
        font-size:14px;
    }
    .doctorNotes {
        font-size:12px;
    }
    .doctorReliever {
        font-size:11px;
    }
}